body {
  text-align: center;
}

.App {
  padding: 20px;
  width: 90%;
}

.textInput {
  margin-top: 20px;
  padding: 10px;
  height: 20px;
  width: 100%;
  font-size: 20px;
}

.selectLang {
  display: block;
  height: 20px;
}